body {
  margin: 0;
  padding: 0;
}

header {
  background: rgb(10, 10, 34);
  height: 70px;
  width: 100%;
}

header .navbar ul {
  list-style: none;
  float: right;
  margin-right: 40px;
}

header .navbar li {
  float: left;
}

header .navbar li a {
  color: rgb(223, 221, 221);
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  margin: 20px;
}

section.About,
section.Projects,
section.Contact {
  width: 100%;
  height: 100vh;
  margin-top: 0;
}

section.About {
  background: rgb(18, 18, 63);
  color: rgb(223, 221, 221);
}

.container {
  margin-left: 20px;
}

.container > section {
  width: 50%;
  float: left;
}

section img {
  margin: 60px 0 0 60px;
}

.hey {
  text-align: center;
}

span {
  color: rgb(241, 113, 134);
}
.hey h1 {
  font-size: 40px;
  margin-bottom: 0;
}

.hey p.title {
  font-size: 26px;
  color: rgb(218, 101, 55);
}

.hey p.cool {
  max-width: 500px;
  margin: 30px auto;
  line-height: 1.5;
  font-size: 17px;
}

strong {
  color: rgb(52, 146, 49);
}

.hey h3 {
  color: dodgerblue;
  font-size: 25px;
}

.hey p {
  font-size: 19px;
}

section.Projects {
  background: rgb(52, 45, 53);
}

section.Contact {
  background: rgb(42, 63, 60);
}

footer {
  background-color: #38393d;
  height: 60px;
  width: 100%;
  bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
